<h1>Index</h1>

<div id="servermsg">

    <ul id="msglist">


    </ul>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>